#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#matrix #sampleno {
    /*font-size: 1vh;*/
    writing-mode: vertical-rl;
    text-orientation: upright;
    vertical-align: bottom;
    td { width: 10px; }
}
#matrix tbody td {
    /*aspect-ratio: 1 / 1;*/
    padding: 0;
}

#matrix tbody tr:hover {
    background-color: deepskyblue;
}
#matrix td.filled {
    background-color: black;
}
