body {
  margin: 0;
  display: flex;
  place-items: center;
  /*min-width: 320px;*/
  /*min-height: 100vh;*/
}

#app {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#matrix thead {
  position: sticky;
  top: 0px;  /* 0px if you don't have a navbar, but something is required */
  background: white;
  padding: 5px;
}

#matrix #sampleno {
    /*font-size: 1vh;*/
    writing-mode: vertical-rl;
    text-orientation: upright;
    vertical-align: bottom;
    td { width: 10px; }
}
#matrix tbody td {
    /*aspect-ratio: 1 / 1;*/
    padding: 0;
}

#matrix .samplelistpad {
    width: 20px;
}
#matrix .samplelist {
    text-align: left;
    padding-left: 5px;
    border-left: 1px solid black;
}

#matrix {
    border-collapse: collapse;
}
#matrix tbody tr:hover {
    background-color: deepskyblue;
}
#matrix td.filled {
    background-color: black;
}
